/* Color Theme Swatches  -------------------------------------------------------------------------- COLOR */
:root{
    --base1-color: #042940;
    --base2-color: #005C53; 
    --light-color: #065c91;
    --dark-color: #04423c;
    --accent1-color: #9FC131; 
    --accent2-color: #DBF227; 
    --text1-color: #D6D58E; 
}
body.padrao{
    --base1-color: #042940;
    --base2-color: #005C53; 
    --light-color: #065c91;
    --dark-color: #04423c;
    --accent1-color: #9FC131; 
    --accent2-color: #DBF227; 
    --text1-color: #D6D58E; 
}
body.dark{
    --base1-color: black;
    --base2-color: rgb(43, 43, 43);
    --light-color: darkgrey;
    --dark-color: rgb(29, 29, 29);
    --accent1-color: grey;
    --accent2-color: rgb(99, 99, 99);
    --text1-color: white;
}
body.inverso{
    --base1-color: #fbd6bf;
    --base2-color: #ffa3ac;
    --light-color: #f9a36e;
    --dark-color: #fbbdc3;
    --accent1-color: #603ece;
    --accent2-color: #240dd7;
    --text1-color: #293892;
}
/* ANIMATIONS ------------------------------------------ ANIMATIONS -------------------------------------ANIMATIONS */

@keyframes logo{
    0% {
        transform: rotateY(0deg);
    }

    100%{
        transform: rotateY(360deg);
    }
}

@keyframes fade {
      from { opacity: 0.4; transform: scale(0.8); }
      to { opacity: 1; transform: scale(1); }
    }


/* GLOBAL----------------------------------- GLOBAL ------------------------------------------ GLOBAL */


html{
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: var(--base1-color);
}

/* HEADER  ---------------------------------------- HEADER--------------------------------------------- HEADER*/

header{
    margin: 0;
    top: 0;
    width: 100%;
    padding: 0px;

    background-color: var(--accent1-color);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

header div{
    margin-left: 25px;
    display: inline-block;
}

header div h1{
    font-size: 48px;
    color: var(--base2-color);
}
header div h1 img {
    position: absolute;
    top: 33%;
    margin-left: 20px;
    max-width: 48px;
    transform-style: preserve-3d;
    animation: logo 8s infinite linear;
    mix-blend-mode: darken ;
}

header nav{
    margin-right: 33px;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    
}

header nav ul li a{
    text-decoration: none;
    color: var(--base2-color);
    font-size: 24px;
}
header nav ul li a:hover{
    text-decoration: none;
    transition: all 0.5s;
    color: var(--accent2-color);
}

/* Menu Hambuger ------------------------------------- Menu ---------------------- Menu  */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    transform-origin: right;
    background-color: var(--base1-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1;
    border-left-style: none;
    border-color: var(--accent2-color);
    border-width: 2px;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    color: var(--text1-color);
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: var(--light-color);
}

.sidebar a h1{
    right: 15px;
    padding: 10px;
    text-decoration: none;
    color: var(--text1-color);
    display: block;
    transition: 0.2s;
}


/* IMAGE - Presentation ----------------------------- IMG ------------------------------------------- IMAGE */

.presentation{
    margin-top: 200px;
    flex: auto;
    flex-wrap: wrap;
    text-align: center;
}

/* .slide{
    transition: all 1s;
    animation: fade 1s 1 forwards;
} */

.presentation div img{
    background-color: var(--light-color);
    /* border-color: var(--dark-color);
    border-width: 5px;
    border-style: solid; */
    border-radius: 15px;
    padding: 20px;
    aspect-ratio: 16/9;
    width: 75%;
    z-index: -1;
    position: relative;
}

/* FORM ------------------------------------------ FORM ----------------------------------------- FORM*/

.formSection{
    margin: 50px 0px;
}

.formSection form{
    margin: auto;
    background-color: var(--base2-color);
    color: var(--text1-color);
    border: var(--dark-color) 5px solid;
    border-radius: 36px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.formSection form input{
    background-color: var(--text1-color);
    color: var(--base1-color);
    padding: 5px 0px 5px 0px;
    width: 50%;
}
.formSection form label{
    padding: 8px 0px 2px 0px;
}
.formSection form select{
    width: fit-content;
    padding: 5px 0px 5px 0px;
    background-color: var(--text1-color);
    color: var(--base1-color);
}
.formSection form textarea{
    width: 100%;
    padding: 8px 5px 15px 5px;
    margin: 5px 0px 15px 0px;
    background-color: var(--text1-color);
    color: var(--base1-color);
}
.formSection form button{
    width: 10%;
    color: var(--text1-color);
    background-color: var(--base1-color);
    padding: 8px 0px 5px 0px;
}

.msgVermelha{
    color: #f22727;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

/* QUIZ -------------------------------- QUIZ ---------------------------------- QUIZ */

.quiz{
    width: 80%;
    padding: 20px 10% 60px 10%;
    background-color: var(--base2-color);
}

.quiztitle{
    background-color: var(--text1-color);
    color: var(--base1-color);
    padding: 10px;
    border-radius: 5px;

}


.quiz form fieldset{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-color);

}

.quiz form fieldset legend{
    padding: 5px 5px;
    background-color: var(--text1-color);
    color: var(--base1-color);
    border-radius: 5px;
}
.quiz form fieldset label{
    width: 75%;
    padding: 5px;
    margin: 2px;
    background-color: var(--base1-color);
    color: var(--text1-color);
    border-radius: 5px;
}

.quiz form button{
    padding: 20px;
    background-color: var(--light-color);
    color: var(--text1-color);
    display: inline;
}
.quiz form button:disabled{
    padding: 20px;
    background-color: darkgrey;
    color: white;
    display: inline;
}

.quiz form button.btnReset{
    background-color: rgb(168, 10, 10);
}

.quiz form button:active{
    padding: 20px;
    background-color: var(--base1-color);
    color: white;
}

.textoResultado{
    font-size: 32px;
    width: fit-content;
    margin: auto;
    padding: 12px 20px;
    border-radius: 5px;
    text-align: center;
}

.quiz div{
    margin: 30px auto 20px;
    padding: 10px 10px;
    width: 33%;
    text-align: center;
    background-color: var(--light-color);
    color: var(--text1-color);
    border-radius: 128px;
}



/* FOOTER ----------------------------------------- FOOTER ------------------------------------------- FOOTER*/

footer {
    background-color: var(--text1-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

footer ul li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 15px 80px;
    
}

footer ul li a{
    font-size: 24px;
    text-decoration: none;
    color: var(--base1-color);
}

footer ul li a:hover{
    transition: all 0.8s;
    color: var(--accent2-color);
}