/* Color Theme Swatches in Hex -------------------------------------------------------------------------- COLOR */
-1-hex { color: #042940; }
-2-hex { color: #005C53; }
-3-hex { color: #9FC131; }
-4-hex { color: #DBF227; }
-5-hex { color: #D6D58E; }

/* ANIMATIONS ------------------------------------------ ANIMATIONS -------------------------------------ANIMATIONS */

@keyframes logo{
    0% {
        transform: rotateY(0deg);
    }

    100%{
        transform: rotateY(360deg);
    }
}

@keyframes fadeIn {
    80%{
        opacity: 60%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes BG-img-animation {
    0%{
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, -100); 
    }
    80%,100%{
        opacity: 0;
        transform: matrix(3, 0, 0, 3, 0, -300);
    }
}

/* GLOBAL----------------------------------- GLOBAL ------------------------------------------ GLOBAL */

html{
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #042940;
}

/* HEADER  ---------------------------------------- HEADER--------------------------------------------- HEADER*/

header{
    margin: 0;
    top: 0;
    width: 100%;
    padding: 0px;

    background-color: #9FC131;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

header div{
    margin-left: 25px;
    display: inline-block;
}

header div h1{
    font-size: 48px;
    color: #005C53;
}
header div h1 img {
    position: absolute;
    top: 33%;
    margin-left: 20px;
    max-width: 48px;
    transform-style: preserve-3d;
    animation: logo 8s infinite linear;
    mix-blend-mode: darken ;
}

header nav{
    margin-right: 33px;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    
}

header nav ul li a{
    text-decoration: none;
    color: #005C53;
    font-size: 24px;
}
header nav ul li a:hover{
    text-decoration: none;
    transition: all 0.5s;
    color: #DBF227;
}

/* IMAGE - Presentation ----------------------------- IMG ------------------------------------------- IMAGE */

.presentation div img{
    width: 50%;
    z-index: -1;
    position: relative;
}

/* FORM ------------------------------------------ FORM ----------------------------------------- FORM*/

.formSection{
    margin: 50px 0px;
}

.formSection form{
    margin: auto;
    background-color: #005C53;
    color: #D6D58E;
    border: #04423c 5px solid;
    border-radius: 36px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.formSection form input{
    background-color: #D6D58E;
    color: #042940;
    padding: 5px 0px 5px 0px;
    width: 50%;
}
.formSection form label{
    padding: 8px 0px 2px 0px;
}
.formSection form select{
    width: fit-content;
    padding: 5px 0px 5px 0px;
    background-color: #D6D58E;
    color: #042940;
}
.formSection form textarea{
    width: 100%;
    padding: 8px 5px 15px 5px;
    margin: 5px 0px 15px 0px;
    background-color: #D6D58E;
    color: #042940;
}
.formSection form button{
    width: 10%;
    color: #D6D58E;
    background-color: #042940;
    padding: 8px 0px 5px 0px;
}

.msgVermelha{
    color: #f22727;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

/* QUIZ -------------------------------- QUIZ ---------------------------------- QUIZ */

.quiz{
    width: 80%;
    padding: 20px 10% 60px 10%;
    background-color: #005C53;
}

.quiztitle{
    background-color: #D6D58E;
    color: #042940;
    padding: 10px;
    border-radius: 5px;

}


.quiz form fieldset{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    background-color: #065c91;

}

.quiz form fieldset legend{
    padding: 5px 5px;
    background-color: #D6D58E;
    color: #042940;
    border-radius: 5px;
}
.quiz form fieldset label{
    width: 75%;
    padding: 5px;
    margin: 2px;
    background-color: #042940;
    color: #D6D58E;
    border-radius: 5px;
}

.quiz form button{
    padding: 20px;
    background-color: #065c91;
    color: #D6D58E;
    display: inline;
}
.quiz form button:disabled{
    padding: 20px;
    background-color: darkgrey;
    color: white;
    display: inline;
}

.quiz form button.btnReset{
    background-color: rgb(168, 10, 10);
}

.quiz form button:active{
    padding: 20px;
    background-color: #042940;
    color: white;
}

.textoResultado{
    font-size: 32px;
    text-align: center;
}

.quiz div{
    margin: 30px auto 20px;
    padding: 10px 10px;
    width: 33%;
    text-align: center;
    background-color: #065c91;
    color: #D6D58E;
    border-radius: 128px;
}



/* FOOTER ----------------------------------------- FOOTER ------------------------------------------- FOOTER*/

footer {
    background-color: #D6D58E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

footer ul li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 15px 80px;
    
}

footer ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #042940;
}

footer ul li a:hover{
    transition: all 0.8s;
    color: #DBF227;
}